
<div align="center">
<%= form_for(:session) do |form| %>
<div>
  <b>Sign in with your email.</b><br/>
  <%= form.text_field :email %>
</div>
<%= form.submit "Sign Me In!" %>

<% end %>

</div>