<br/>
<br/>
<br/>
<br/>
<br/>
<div align="center">
<%= form_for(@user) do |form| %>
<div>
  <b>Please enter your <%= form.label :email %> to sign up.</b><br/>
  <%= form.text_field :email %>
</div>
<%= form.submit "Sign Me Up!" %>

<% end %>

</div>